@font-face {
    font-family: 'HelpMe'; /* Nombre que tú elijas */
    src: url('../Tipografia/HelpMe.woff2') format('woff2'),
         url('../Tipografia/HelpMe.woff2') format('truetype'); /* Ruta y formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BaskervilleOldFace'; /* Nombre que tú elijas */
    src: url('../Tipografia/BaskervilleOF.woff2') format('woff2'),
         url('../Tipografia/BaskervilleOF.woff2') format('truetype'); /* Ruta y formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CageWorld'; /* Nombre que tú elijas */
    src: url('../Tipografia/Cageworld.woff2') format('woff2'),
         url('../Tipografia/Cageworld.woff2') format('truetype'); /* Ruta y formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AgencyFB'; /* Nombre que tú elijas */
    src: url('../Tipografia/AGENCYB.woff2') format('woff2'),
         url('../Tipografia/AGENCYB.woff2') format('truetype'); /* Ruta y formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CaracolIsland'; /* Nombre que tú elijas */
    src: url('../Tipografia/CaracolIsland.woff2') format('woff2'),
         url('../Tipografia/CaracolIsland.woff2') format('truetype'); /* Ruta y formato */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin'; /* Nombre que tú elijas */
    src: url('../Tipografia/Acumin.woff2') format('woff2'),
         url('../Tipografia/Acumin.woff2') format('truetype'); /* Ruta y formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TresD'; /* Nombre que tú elijas */
    src: url('../Tipografia/Komyca3D.woff2') format('woff2'),
         url('../Tipografia/Komyca3D.woff2') format('truetype'); /* Ruta y formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TresDFake'; /* Nombre que tú elijas */
    src: url('../Tipografia/Komyca-Italic.woff2') format('woff2'),
         url('../Tipografia/Komyca-Italic.woff2') format('truetype'); /* Ruta y formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mano'; /* Nombre que tú elijas */
    src: url('../Tipografia/BITCBLKAD.woff2') format('woff2'),
         url('../Tipografia/BITCBLKAD.woff2') format('truetype'); /* Ruta y formato */
    font-weight: normal;
    font-style: normal;
}

.Cage{
    font-family: 'CageWorld', sans-serif;
}
.Acumin{
    /*font-family: 'Acumin',sans-serif;*/
    font-weight: lighter;
}
.AcuminReal{
    font-family: 'Acumin',sans-serif;
    font-weight:800;
}
.TresD{
    font-family: 'TresD', 'Courier New', Courier, monospace;
}
.Fake{
    font-family: "TresDFake" , 'Courier New', Courier, monospace;
}
.Mano{
    font-family: 'Mano','Courier New', Courier, monospace;
}
