@font-face {
        font-family: 'DeepShadow';
        src: url('../Tipografia/DeepShadow.woff2') format('truetype');
    }
@font-face {
    font-family: 'DeepShadowUnder';
    src: url('../Tipografia/DeepShadowUnder.woff2') format('truetype');
}

.Titulo {
        background-color: rgb(247, 135, 100);
        width: 90%;
        max-width: 1200px; 
        height: 150px;

        margin-left: auto;
        margin-right: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        
    }
 .Letra, 
.Sombra {
        font-size: clamp(50px, 7vw, 100px);
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        line-height: 1;
        width: 100%;

        position: absolute; 
    }

     .Letra {
        color: rgb(21, 11, 0);
        font-family: 'DeepShadow', sans-serif;
        letter-spacing: 5px; 
        z-index: 3;
    }
    #Relleno{
        background-color: rgb(255, 158, 54);
        width: min(90%, 530px);
        height: 135px;
        border-radius: 40px;
        margin-bottom: 5px;
    }

     .Sombra {
        color: rgb(255, 158, 54); 
        font-family: 'DeepShadowUnder', sans-serif;
        letter-spacing: 5px; 
        z-index: 1;
    
        transform: translate(6px, 8px);
    }
#anim{
    animation: movet 8s reverse infinite;
    background-size: contain;
    position: relative;
    left:0%;
    top:0%;
    z-index: 1;
}
#Intro{
    background-color: rgb(247, 135, 100);
}
#img img:nth-of-type(2){
    animation: ube 3s  alternate-reverse infinite cubic-bezier(0.53,-0.14, 0.09, 1.33);
}

@keyframes movet {
    0%{
        background-image: url(../Img/DBG.png);
        left:0%;
        top:0%;
        rotate:360deg;
    }
    13%{
        rotate:180deg;
    }
    25%{
        background-image: url(../Img/LukyBox-.png);
        left:calc(100% - 12rem);
        top:0%;
        rotate:360deg;
    }
    38%{
        rotate: 180deg;
    }
    50%{
        background-image: url(../Img/USB.png);
        left:0%;
        rotate:360deg;
    }
    63%{
        rotate: 180deg;
    }
    75%{
        background-image: url(../Img/Superman.png);
        left:calc(100% - 12rem);
        rotate:360deg;
    }
    88%{
        rotate: 180deg;
    }
    100%{
        background-image: url(../Img/DBG.png);
        left:0%;
        rotate:360deg;
    }
}

@keyframes ube {
    0%{
        bottom: 4%;
        right: 20%;
    }
    50%{
        bottom: 40%;
        right: 10%;
    }
    100%{
        bottom: 80%;
        right: 5%;
    }
}

#galle{
    box-shadow: 15px 1px 12px -1px rgba(0, 0, 0, 0.7);
}
#galle::after,#galle::before{
    content: "";
    position: absolute;
    background-color: white;
    box-shadow: 15px 1px 12px -1px rgba(0, 0, 0, 0.7);
    border-radius:0.75rem;
    width: 100%;
    height: 100%;
    /* top:-2vh;
    bottom:-8vh ;
    left:-1vw;
    right:-1vw ; */
}
#galle::after{
    z-index: -10;
    left:15%;
    bottom:4%;
}
#galle::before{
    z-index: -2;
    left:8%;
    bottom:2%;
}

.ImgBg{
    background-size: contain; 
    background-repeat: space;
}